html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(245, 245, 245);

  div {
    margin-bottom: 20px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(168, 242, 255);
  }
}