html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(245, 245, 245);

  .avatar {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 100px;
    height: 100px;
  }
  .section {
    margin-bottom: 20px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(168, 242, 255);
  }
}